

html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
     /*overflow-x: hidden;*/
     box-sizing: border-box;
   
}

*, *:before, *:after {
    box-sizing: inherit;
}

*:before, *:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 10px 0;
}


.myButton {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.container {
    padding: 0.01em 16px;
    height: 100%;
    background-color: rgba(231,217,236,0.85);
}

.sectionHeader {
    padding: 8px 16px;
    background-color: #fff;
    border-top:6px solid #ddd;
    border-bottom:6px solid #ddd;
    opacity: 0.55;
}
/*----------------------------Grid View---------------------------------------------*/
.row::after {
    content:"";
    clear:both;
    display:table;
}
[class*="col-"]{
    float:left;
    padding:15px;
    border: 1px solid transparent;
}
.col-1 {
    width:8.33%
}
.col-2 {
    width:16.66%
}
.col-3 {
    width:25%
}
.col-4 {
    width:33.33%
}
.col-5 {
    width:41.66%
}
.col-6 {
    width:50%
}
.col-7 {
    width:58.33%
}
.col-8 {
    width:66.66%
}
.col-9 {
    width:75%
}
.col-10 {
    width:83.33%
}
.col-11 {
    width:91.66%
}
.col-12 {
    width:100%
}

/*----------------------------------------------------------------------------------*/

.slogan {
    max-width:inherit;
    position: absolute;
    top:20%;
    left:30%;
    margin:0 auto;
    padding:15px;
    color:#fff;
    opacity: 0.75;
    text-align:center;
    transform:translate(0, 50%);
    -ms-transform:translate(-0, -50%);
    -webkit-animation: move-in 5s;
    animation: move-in 5s;
}
    .slogan h1 {
        letter-spacing: 3px;
         font-family: 'Satisfy', cursive;
         -webkit-animation-timing-function: ease;
    }

    .slogan h3 {
         font-family: 'Boogaloo', cursive;
         -webkit-animation-timing-function: ease;
    }
   
.fa-angle-down {
    color:#fff;
    opacity: 0.75; 
    -webkit-animation-timing-function: ease;
}

.fa-angle-down:hover {
        opacity:1;
    }

@-webkit-keyframes move-in {
    from {left: 0;}
    to {left: 30%;}
}

@keyframes move-in {
    from {left: 0;}
    to {left: 30%;}
}
/*----------------------------------------------------------------------------------*/

.navigation-bar {
  overflow: hidden;
  background-color: #fff;
  padding: 8px 16px;
  position:fixed;
  bottom: 0;
  left:0;
  width:100%;
  z-index: 1;
  color: #000 !important;
  background-color: #fff !important;
  opacity: 0.75;
}

.navigation-bar a {
  float: left;
  display: block;
  width:20%;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 15px;
  outline:0;
  color: #000 !important;
  border-top:2px solid transparent;
  border-bottom:2px solid transparent;
  background:transparent;
}

.navigation-bar a:hover {
  color: #a683b3 !important;
  border-top:2px solid #a683b3;
  border-bottom:2px solid #a683b3;
  border-bottom-color:#a683b3;
  border-top-color:#a683b3;
}

.navigation-bar .icon {
  display: none;
}

/*------------------------------------------------------------------------------*/

.mySlides {
	display: none
}

.slideshow-container {
    min-height: 100%;
    
}

.slideshow-container img{
    width: 100%;
    background-position: center;
    background-size: cover;
    filter: grayscale(25%);
}

.polaroid-effect {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.square {
    cursor:pointer;
    height:50px;
    width:50px;
    border: 5px solid #fff;
    text-align:center;
    font-size: 30px;
    position:relative;
    display:block;
    background-color:transparent;
    float:none;
    color:#fff;
    opacity:0.45;
}

.right {
    position: absolute;
    top:45%;
    right:5%;
    transform: translate(0, -50%);
    -ms-transform: translate(-0%,-50%);
}

li.square.active, .square:hover {
    opacity:1;
}
/* Fading animation */
.fade {
	animation: fading 10s infinite;
}

@keyframes fading {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



/*-------------------------------------------------------------------------------*/
.content {
    font-size: 15px;
    max-width:1000px;
    padding-top:30px;
    padding-bottom:30px;
    text-align:justify;
}

.homeBtn {
    color: #000;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.homeBtn:hover{
    opacity: 0.65;
}

.fa-comment-alt {
    color: #a683b3;
}

.card {
    border-top:6px solid #a683b3;
    width:100%;
    height:auto;
}

    .card iframe {
        width:100%;
        height:480px;
    }

blockquote {
  max-width:80%;
  display:block;
  background: transparent;
  border-left: 10px solid  #a683b3;
  padding: 15px 45px 15px 25px;
  margin-left:10%;
  text-align:justify;
}

blockquote::before {
  color: #a683b3;
  font-size: 4em;
  vertical-align: -0.4em;
  content: "\201C";
  position: relative;
}

    blockquote p {
        display:inline;
        position:relative;
        left:35px;
        top:-100px;
    }
    blockquote em {
        float:right;
        font-style: italic;
        margin:0;
}

.separator {
    width:30%;
    position:relative;
    left:50%;
}
.dot {
  height: 15px;
  width: 15px;
  background-color:#a683b3;
  border-radius: 50%;
  display: inline-block;
}

.sectionHeader h2 {
     text-align: center;
     float:right;
}


 
/*#more_text1, #more_text2, #more_text3{
display:none;
}*/


/*-------------------------------------------------------------------------------*/


.list {
  height:auto;
  width:inherit;
  background-color:#fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding:8px;
  color:#000;
  opacity: 0.55;
}

section.container#about > div.content{
    line-height:25px;
    margin-left:10%;
}

section.container#about h5 {
    margin-top:30px;
}

.subtitle {
    background-color: #000;
    color: #fff;
    padding-top:8px;
    padding-bottom:8px;
    text-align: center;
    opacity:0.55;
}
    .subtitle.round {
        border-radius:50%;
        padding:8px!important;
    }
    

section.container#about > div.content >p.list em {
    text-decoration:underline;
    text-decoration-color:red;
}

section.container#about > div.content > ul li {
    position:relative;
    top:0;
    left:35%;
    display:inline-block;
    background-color:#fff;
    float:none;
    color:#000;
}

ol li{
    display: block;
    list-style:decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

p.subtitle {
     width:70%;
     padding-left:8px;
     position:relative;
     left:15%;
     background-color:#a683b3;
     color:#fff;
     text-align:left;
     margin-top:10px;

}
ul.showHidden{
    width:100%;
}

ul.showHidden.card {
    margin: 0 auto;
    border-bottom: 6px solid #a683b3;
}
.hidden {
    display:none;
}
section.container#terms > div.content{
    line-height:25px;
    margin-left:10%;
}

/*-------------------------------------------------------------------------------*/
input[type=text],input[type=email], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.label {
    display:none;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


input[type=submit] {
    background-color: #a683b3;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover{
    color: #a683b3;
    opacity: 0.65;
}

.fa-facebook, .fa-mobile-alt, .fa-envelope {
    color:  #a683b3;
     padding: 5px;
}

ul li {
    float:right;
    display:inline;
    
}
/*-------------------------------------------------------------------------------*/

@media only screen and (max-width: 600px){

  .navigation-bar a:not(:first-child) {display: none;}
  .navigation-bar a.icon {
    float: right;
    display: block;
  }
   
    [class*='col-'] {
        width:100%;
    }

    .slogan {
       top:-50px;
       left:10%!important;
       -webkit-animation-play-state:paused;
        animation-play-state:paused;
    }

    .slogan h1 {
        font-size:20px;
        
    }
    .slogan h3 {
        font-size: 15px;
    }

    .fa-angle-down {
        font-size: 20px !important;
    }

   
    .sectionHeader h2 {
        font-size:20px!important;
    }

    section.container#about > div.content, blockquote {
        margin-left:0;
    }

  section.container#about > div.content > ul li {
            left:5%;
        }

        section.container#terms > div.content{
        margin-left:0;
    }
    .square {
        width:20px;
        height:20px;
        font-size:8px;
        display: inline-block;
    }

    .right {
        top:5%;
        right:15%;
    }

        .row::after {
    content:"";
    clear:both;
    display:table;
}
[class*="col-"]{
    float:left;
    padding:15px;
    border: 1px solid transparent;
}
.col-xs-1 {
    width:8.33%
}
.col-xs-2 {
    width:16.66%
}
.col-xs-3 {
    width:25%
}
.col-xs-4 {
    width:33.33%
}
.col-xs-5 {
    width:41.66%
}
.col-xs-6 {
    width:50%
}
.col-xs-7 {
    width:58.33%
}
.col-xs-8 {
    width:66.66%
}
.col-xs-9 {
    width:75%
}
.col-xs-10 {
    width:83.33%
}
.col-xs-11 {
    width:91.66%
}
.col-xs-12 {
    width:100%
}
}

@media only screen and (max-width: 600px) {
 
  .navigation-bar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {


    .slogan {
       top:0!important;
       left:20%;
    }

    @-webkit-keyframes move-in {
    from {left: 0;}
    to {left: 20%;}
}

@keyframes move-in {
    from {left: 0;}
    to {left: 20%;}
}

 .square {
        width:20px;
        height:20px;
        font-size:8px;
        display: inline-block;
    }

    .right {
        top:5%;
        right:15%;
    }

section.container#about > div.content > ul li {
            left:5%;
}
section.container#about > div.content{
    margin-left:0;
}


        section.container#terms > div.content{
        margin-left:0;
    }

       .row::after {
    content:"";
    clear:both;
    display:table;
}
[class*="col-"]{
    float:left;
    padding:15px;
    border: 1px solid transparent;
}
.col-sm-1 {
    width:8.33%
}
.col-sm-2 {
    width:16.66%
}
.col-sm-3 {
    width:25%
}
.col-sm-4 {
    width:33.33%
}
.col-sm-5 {
    width:41.66%
}
.col-sm-6 {
    width:50%
}
.col-sm-7 {
    width:58.33%
}
.col-sm-8 {
    width:66.66%
}
.col-sm-9 {
    width:75%
}
.col-sm-10 {
    width:83.33%
}
.col-sm-11 {
    width:91.66%
}
.col-sm-12 {
    width:100%
}

}
@media screen and (max-width: 1024px) {

section.container#about > div.content{
    margin-left:0;
}

        section.container#terms > div.content{
        margin-left:0;
    }

.slogan {
       top:20px;
       left:20%;
    }

 .square {
        width:20px;
        height:20px;
        font-size:8px;
        display: inline-block;
    }

    .right {
        top:5%;
        right:15%;
    }

}
 
@media screen and (min-width: 1580px) {
    section.container#about > div.content{
    margin-left:20%;
}

    
        section.container#terms > div.content{
        margin-left:20%;
    }
    .slogan {
       top:-50px;
       left:0;
    }

 .square {
        width:20px;
        height:20px;
        font-size:8px;
        display: inline-block;
    }

    .right {
        top:5%;
        right:15%;
    }

}